<!-- Introduction Row -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Aobre Nosotros
            <small>¡Encantados de conocerte!</small>
        </h1>
        <p>Este es el equipo del que esta formado quatrobyte.</p>
    </div>
</div>

<!-- Team Members Row -->
<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">Nuestro equipo</h2>
    </div>
    <div class="col-lg-4 col-sm-6 text-center">
        <img class="img-circle img-responsive img-center foto_about" src="img/paco.jpg" alt="">
        <h3>Francisco Martinez
            <small>Project Manager</small>
        </h3>
        <p>Fundador, CEO y project Manager de la empresa. Desarrollador en sus ratos libres.</p>
    </div>
    <div class="col-lg-4 col-sm-6 text-center">
        <img class="img-circle img-responsive img-center foto_about" src="img/keli.png" alt="">
        <h3>David de la Casa
            <small>Relaciones Publicas</small>
        </h3>
        <p>Desarrollador y relaciones públicas de la empresa.</p>
    </div>
    <div class="col-lg-4 col-sm-6 text-center">
        <img class="img-circle img-responsive img-center foto_about" src="img/migue.png" alt="">
        <h3>Migue Gutierrez
            <small>Desarrollador Android</small>
        </h3>
        <p>Desarrollador android y demas lenguajes en la empresa.</p>
    </div>
    <div class="col-lg-4 col-sm-6 text-center">
        <img class="img-circle img-responsive img-center foto_about" src="img/julio.png" alt="">
        <h3>Julio Valverde
            <small>Desarrollador</small>
        </h3>
        <p>Desarrollador en la plataforma.</p>
    </div>
</div>
<hr>
