<!-- Heading Row -->
<div class="row">
    <div class="col-md-8">
        <img class="img-responsive img-rounded" src="img/programando.jpg" alt="">
    </div>
    <!-- /.col-md-8 -->
    <div class="col-md-4">
        <h1>Quatrobyte</h1>
        <p>Quatrobyte es una empresa de nueva creación basada en el desarrollo de aplicaciones web y moviles. Siempre pensando en la nuevas tecnologías como son: Android Wear, Google CardBoard, Google glass o Chrome Cast.</p>
        <a class="btn btn-primary btn-lg" href="#">!Informate!</a>
    </div>
    <!-- /.col-md-4 -->
</div>
<!-- /.row -->

<hr>

<!-- Call to Action Well -->
<div class="row">
    <div class="col-lg-12">
        <div class="well text-center">
            Si quieres mas inforamción escribe a <a href="mailto:email@info@quatrobyte.com?subject=Info">info@quatrobyte.com</a> o ponte en contacto por teléfono: 676746265
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<!-- Content Row -->
<div class="row">
    <div class="col-md-4">
        <h2>Web</h2>
        <p>Realizamos paginas web usando las ultimas tecnologias para crear paginas web dinamicas y rapidas, usando tecnicas como SPA. Siempre respetando las normas para crear webs responsive para asi tener en cuenta el gran número de acceso a las webs deade el movil para asi crear una mejor experiencia al usuario.</p>
        <a class="btn btn-default" href="#">Más Información</a>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-4">
        <h2>Android</h2>
        <p>Ralizamos aplicaciones para el sistema operativo movil android, de todo tipo, desde juegos a vidores de noticias, para dar solución a problemas actuales o mejorar las acutales ofertas para ayudar a nuestros clientes.</p>
        <a class="btn btn-default" href="#">Más Información</a>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-4">
        <h2>IOS</h2>
        <p>Tambien desarrollamos aplicaciones para IOS un mercado no tan grande como el de android pero con mucho mercado tambien para asi cubirir la mayor parte del mercado posibles y ofrecer soluciones a mas clientes.</p>
        <a class="btn btn-default" href="#">Más Información</a>
    </div>
    <!-- /.col-md-4 -->
</div>
<!-- /.row -->
