<!-- Heading Row -->
<div class="row">
    <div class="col-md-8">
        <img class="img-responsive img-rounded" src="img/programando.jpg" alt="">
    </div>
    <!-- /.col-md-8 -->
    <div class="col-md-4">
        <h1>Quatrobyte</h1>
        <p>Quatrobyte es una empresa de nueva creación basada en el desarrollo de aplicaciones web y móviles. Siempre con la mente en las últimas tecnologías como puede ser Android Wear, Google CardBoard, Google glass o Chrome Cast.</p>
        <a class="btn btn-primary btn-lg" href="#">!Infórmate!</a>
    </div>
    <!-- /.col-md-4 -->
</div>
<!-- /.row -->

<hr>

<!-- Call to Action Well -->
<div class="row">
    <div class="col-lg-12">
        <div class="well text-center">
            Si quieres más inforamción escribe a <a href="mailto:email@info@quatrobyte.com?subject=Info">info@quatrobyte.com</a> o ponte en contacto por teléfono: 676746265
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<!-- Content Row -->
<div class="row">
    <div class="col-md-4">
        <h2>Web</h2>
        <p>Realizamos páginas web dinámicas y rápidas. Respetando en todo momento las normas para crear webs responsive teniendo en cuenta el gran número de acceso a webs desde dispositivos móviles.</p>
        <a class="btn btn-default" href="#">Más Información</a>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-4">
        <h2>Android</h2>
        <p>Desarrollamos aplicaciones de todo tipo, desde juegos a visores de noticias, para poder dar solución a problemas actuales o mejorar las ofertas existentes y satisfacer a los usuarios.</p>
        <a class="btn btn-default" href="#">Más Información</a>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-4">
        <h2>IOS</h2>
        <p>También desarrollamos aplicaciones para IOS, un mercado muy distinto al de Android pero no menos llamativo, pudiendo así dar servicio a todo tipo de clientes.</p>
        <a class="btn btn-default" href="#">Más Información</a>
    </div>
    <!-- /.col-md-4 -->
</div>
<!-- /.row -->
