<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Proyectos
           <!--aquí iba small-->
        </h1>
    </div>
</div>
<!-- /.row -->

<!-- Project One -->
<div class="row">
    <div class="col-md-7">
        <a href="#">
            <img class="img-responsive" src="img/objetos_perdidos.jpg" alt="">
        </a>
    </div>
    <div class="col-md-5">
        <h3>Red social</h3>
        <h4>De objetos perdidos</h4>
        <p>Con ésta aplicación buscamos crear un lugar donde la gente pueda informar sobre objetos perdidos o encontrados para ayudar a sus dueños a encontrarlos. 
        Consta de un portal web y una aplicación móvil para facilitar el acceso. Los establecimientos podrán tener una cuenta especial con la que ganar reputación por usuario ayudado, consiguiendo publicidad a través de la plataforma.</p>
        <a class="btn btn-primary" href="#">Ver Proyecto <span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
</div>
<!-- /.row -->

<hr>

<!-- Project Two -->
<div class="row">
    <div class="col-md-7">
        <a href="#">
            <img class="img-responsive" src="img/reloj_wear.jpg" alt="">
        </a>
    </div>
    <div class="col-md-5">
        <h3>AccidentWear</h3>
        <h4>Para Android Wear</h4>
        <p>Ésta aplicación que está destinada al nuevo reloj de google, cuenta con el poder de notificar un accidente sufrido por el usuario rápidamente. Sólo con un gesto en el reloj, éste podrá avisar a un familiar o amigo; facilitando la localización para poder socorrer al herido.</p>
        <a class="btn btn-primary" href="#">Ver Proyecto <span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
</div>
<!-- /.row -->

<hr>

<!-- Project Three -->
<div class="row">
    <div class="col-md-7">
        <a href="#">
            <img class="img-responsive" src="img/do-test.gif" alt="">
        </a>
    </div>
    <div class="col-md-5">
        <h3>HardTest</h3>
        <h4>Para Móviles</h4>
        <p>Juego de preguntas indiscretas para esas reuniones con tus amigos en las que quieres hacer preguntas chorras para divertirte un rato.</p>
        <a class="btn btn-primary" href="#">Ver Proyecto <span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
</div>
<!-- /.row -->

<hr>
