 <!-- Page Header -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Servicios
        <!--aquí iba small -->
        </h1>
    </div>
</div>
<!-- /.row -->

<!-- Projects Row -->
<div class="row">
    <div class="col-md-4 portfolio-item">
        <a href="#">
            <img class="img-responsive img-border" src="img/pagweb320.png" alt="">
        </a>
        <h3>
            <a href="#">Paginas Web</a>
        </h3>
        <p class="textos_descripcion_servicios">Creación de paginas web de todos los tipos. Desarrollo a medida o implementacion de wordpress u otros CM</p>
    </div>
    <div class="col-md-4 portfolio-item">
        <a href="#">
            <img class="img-responsive img-border" src="img/Mantenimiento320.png" alt="">
        </a>
        <h3>
            <a href="#">Mantenimiento</a>
        </h3>
        <p class="textos_descripcion_servicios">Ofrecemos mantenimiento, gestión de servidores y bases de datos para las aplicaciones.</p>
    </div>
    <div class="col-md-4 portfolio-item">
        <a href="#">
            <img class="img-responsive img-border" src="img/Android320.png" alt="">
        </a>
        <h3>
            <a href="#">Desarrollo de aplicaciones Android</a>
        </h3>
        <p class="textos_descripcion_servicios">Desarrollo de aplicaciones móviles para el S.O. Android.</p>
    </div>
    <div class="col-md-4 portfolio-item">
        <a href="#">
            <img class="img-responsive img-border" src="img/IOS320.png" alt="">
        </a>
        <h3>
            <a href="#">Desarrollo de aplicaciones IOS</a>
        </h3>
        <p class="textos_descripcion_servicios">Desarrollo de aplicaciones móviles para el sistema operativo de Apple.</p>
    </div>
    <div class="col-md-4 portfolio-item">
        <a href="#">
            <img class="img-responsive img-border" src="img/Wear320.png" alt="">
        </a>
        <h3>
            <a href="#">Desarrollo de aplicaciones Wear</a>
        </h3>
        <p class="textos_descripcion_servicios">Desarrollo de aplicaciones para los dispositivos "wearables".</p>
    </div>
    <div class="col-md-4 portfolio-item">
        <a href="#">
            <img class="img-responsive img-border" src="img/Cardboard320.png" alt="">
        </a>
        <h3>
            <a href="#">Desarrollo de aplicaciones VR</a>
        </h3>
        <p class="textos_descripcion_servicios">Desarrollo de aplicaciones para dispositivos de realidad virtual.</p>
    </div>
    <div class="col-md-4 portfolio-item">
        <a href="#">
            <img class="img-responsive img-border" src="img/Backend320.png" alt="">
        </a>
        <h3>
            <a href="#">Desarrollo de backend para aplicaciones</a>
        </h3>
        <p class="textos_descripcion_servicios">Desarrollo de la parte de backend, tanto lógica como base de datos.</p>
    </div>
</div>
