 <!-- Page Header -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Servicios
            <small>para terceros</small>
        </h1>
    </div>
</div>
<!-- /.row -->

<!-- Projects Row -->
<div class="row">
    <div class="col-md-4 portfolio-item">
        <a href="#">
            <img class="img-responsive" src="img/pagina_web.jpg" alt="">
        </a>
        <h3>
            <a href="#">Paginas Web</a>
        </h3>
        <p>Creación de paginas web de todos los tipos. Desarrollo a medida o implementacion de wordpres u otros CM</p>
    </div>
    <div class="col-md-4 portfolio-item">
        <a href="#">
            <img class="img-responsive" src="img/mantenimiento.jpg" alt="">
        </a>
        <h3>
            <a href="#">Mantenimiento</a>
        </h3>
        <p>Ofrecemos mantenimiento, gestion de servidores y bases de datos para las aplicaciones.</p>
    </div>
    <div class="col-md-4 portfolio-item">
        <a href="#">
            <img class="img-responsive" src="img/android.jpg" alt="">
        </a>
        <h3>
            <a href="#">Desarrollo de aplicaciones android</a>
        </h3>
        <p>Desarrollo de aplicaciones moviles de android.</p>
    </div>
    <div class="col-md-4 portfolio-item">
        <a href="#">
            <img class="img-responsive" src="img/ios.jpg" alt="">
        </a>
        <h3>
            <a href="#">Desarrollo de aplicaciones IOS</a>
        </h3>
        <p>Desarrollo de aplicaciones moviles de android.</p>
    </div>
    <div class="col-md-4 portfolio-item">
        <a href="#">
            <img class="img-responsive" src="img/app_wear.jpg" alt="">
        </a>
        <h3>
            <a href="#">Desarrollo de aplicaciones Wear</a>
        </h3>
        <p>Desarrollo de aplicaciones moviles de android.</p>
    </div>
    <div class="col-md-4 portfolio-item">
        <a href="#">
            <img class="img-responsive" src="img/cardboard.jpg" alt="">
        </a>
        <h3>
            <a href="#">Desarrollo de aplicaciones VR</a>
        </h3>
        <p>Desarrollo de aplicaciones moviles de android.</p>
    </div>
    <div class="col-md-4 portfolio-item">
        <a href="#">
            <img class="img-responsive" src="img/backend.png" alt="">
        </a>
        <h3>
            <a href="#">Desarrollo de backend para aplicaciones</a>
        </h3>
        <p>Desarrollo de la parte de backend, tanto logica como base de datos.</p>
    </div>
</div>
